@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Karla variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply text-slate-900/90 dark:bg-brand-800 dark:text-gray-100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kufam variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	@apply text-slate-900/90 dark:text-white;
}
h1 {
	@apply leading-loose text-2xl lg:text-5xl font-bold tracking-tight my-6 sm:text-6xl;
}
h1.gradient,
h2.gradient,
h3.gradient {
	@apply font-extrabold tracking-tight py-1 bg-clip-text text-transparent bg-gradient-to-r from-cyan-700 to-teal-500
	dark:from-sky-400 dark:to-teal-300;
}
ul,
li {
	@apply list-disc list-inside leading-8 gap-4 pl-3 font-light text-gray-700 dark:text-gray-300;
}
ol,
li {
	@apply list-decimal list-inside leading-8 gap-4 pl-3 font-light text-gray-700 dark:text-gray-300;
}
a {
	@apply dark:text-brand-200;
}
.no-ring {
	@apply focus:ring-0 focus:ring-offset-0;
}
h2 {
	@apply leading-loose text-xl lg:text-3xl font-semibold tracking-tight my-4;
}
h3 {
	@apply leading-loose text-2xl font-semibold tracking-tight my-3;
}
h4 {
	@apply leading-loose text-xl my-2;
}

p,
dt,
dd {
	@apply my-3 font-light;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

code[class*='language-'],
pre[class*='language-'] {
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	@apply text-black dark:text-white !text-xs;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	@apply bg-yellow-300 text-black;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	@apply bg-neutral-200 dark:bg-neutral-700;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@apply text-slate-600 dark:text-slate-400;
}

.token.punctuation {
	@apply text-gray-900 dark:text-gray-100;
}

.token.namespace {
	@apply opacity-70 dark:opacity-80;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	@apply text-fuchsia-700 dark:text-fuchsia-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	@apply text-emerald-700 dark:text-emerald-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	@apply text-amber-700 dark:text-amber-300;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	@apply text-sky-800 dark:text-sky-400;
}

.token.function,
.token.class-name {
	@apply text-red-700 dark:text-red-400;
}

.token.regex,
.token.important,
.token.variable {
	@apply text-orange-700 dark:text-orange-300;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/*
dark
gray
red
pink
grape
violet
indigo
blue
cyan
teal
green
lime
yellow
orange
*/
.standard-text-dark {
	@apply text-gray-900;
}
.standard-text-gray {
	@apply text-gray-700;
}
.standard-text-red {
	@apply text-red-700;
}
.standard-text-pink {
	@apply text-pink-700;
}
.standard-text-grape {
	@apply text-purple-700;
}
.standard-text-violet {
	@apply text-indigo-700;
}
.standard-text-indigo {
	@apply text-indigo-700;
}
.standard-text-blue {
	@apply text-blue-700;
}
.standard-text-cyan {
	@apply text-cyan-700;
}
.standard-text-teal {
	@apply text-teal-700;
}
.standard-text-green {
	@apply text-green-700;
}
.standard-text-lime {
	@apply text-lime-700;
}
.standard-text-yellow {
	@apply text-yellow-700;
}
.standard-text-orange {
	@apply text-orange-700;
}

.standard-bg-dark {
	@apply bg-gray-900;
}
.standard-bg-gray {
	@apply bg-gray-700;
}
.standard-bg-red {
	@apply bg-red-700;
}
.standard-bg-pink {
	@apply bg-pink-700;
}
.standard-bg-grape {
	@apply bg-purple-700;
}
.standard-bg-violet {
	@apply bg-indigo-700;
}
.standard-bg-indigo {
	@apply bg-indigo-700;
}
.standard-bg-blue {
	@apply bg-blue-700;
}
.standard-bg-cyan {
	@apply bg-cyan-700;
}
.standard-bg-teal {
	@apply bg-teal-700;
}
.standard-bg-green {
	@apply bg-green-700;
}
.standard-bg-lime {
	@apply bg-lime-700;
}
.standard-bg-yellow {
	@apply bg-yellow-700;
}
.standard-bg-orange {
	@apply bg-orange-700;
}

.standard-from-dark {
	@apply from-gray-900;
}
.standard-from-gray {
	@apply from-gray-700;
}
.standard-from-red {
	@apply from-red-700;
}
.standard-from-pink {
	@apply from-pink-700;
}
.standard-from-grape {
	@apply from-purple-700;
}
.standard-from-violet {
	@apply from-indigo-700;
}
.standard-from-indigo {
	@apply from-indigo-700;
}
.standard-from-blue {
	@apply from-blue-700;
}
.standard-from-cyan {
	@apply from-cyan-700;
}
.standard-from-teal {
	@apply from-teal-700;
}
.standard-from-green {
	@apply from-green-700;
}
.standard-from-lime {
	@apply from-lime-700;
}
.standard-from-yellow {
	@apply from-yellow-700;
}
.standard-from-orange {
	@apply from-orange-700;
}

.standard-to-dark {
	@apply to-gray-900;
}
.standard-to-gray {
	@apply to-gray-700;
}
.standard-to-red {
	@apply to-red-700;
}
.standard-to-pink {
	@apply to-pink-700;
}
.standard-to-grape {
	@apply to-purple-700;
}
.standard-to-violet {
	@apply to-indigo-700;
}
.standard-to-indigo {
	@apply to-indigo-700;
}
.standard-to-blue {
	@apply to-blue-700;
}
.standard-to-cyan {
	@apply to-cyan-700;
}
.standard-to-teal {
	@apply to-teal-700;
}
.standard-to-green {
	@apply to-green-700;
}
.standard-to-lime {
	@apply to-lime-700;
}
.standard-to-yellow {
	@apply to-yellow-700;
}
.standard-to-orange {
	@apply to-orange-700;
}

.standard-text-dark-medium {
	@apply text-gray-500;
}
.standard-text-gray-medium {
	@apply text-gray-500;
}
.standard-text-red-medium {
	@apply text-red-500;
}
.standard-text-pink-medium {
	@apply text-pink-500;
}
.standard-text-grape-lmedium {
	@apply text-purple-500;
}
.standard-text-violet-medium {
	@apply text-indigo-500;
}
.standard-text-indigo-medium {
	@apply text-indigo-500;
}
.standard-text-blue-medium {
	@apply text-blue-500;
}
.standard-text-cyan-medium {
	@apply text-cyan-500;
}
.standard-text-teal-medium {
	@apply text-teal-500;
}
.standard-text-green-medium {
	@apply text-green-500;
}
.standard-text-lime-medium {
	@apply text-lime-500;
}
.standard-text-yellow-medium {
	@apply text-yellow-500;
}
.standard-text-orange-medium {
	@apply text-orange-500;
}

.standard-bg-dark-medium {
	@apply bg-gray-500;
}
.standard-bg-gray-medium {
	@apply bg-gray-500;
}
.standard-bg-red-medium {
	@apply bg-red-500;
}
.standard-bg-pink-medium {
	@apply bg-pink-500;
}
.standard-bg-grape-lmedium {
	@apply bg-purple-500;
}
.standard-bg-violet-medium {
	@apply bg-indigo-500;
}
.standard-bg-indigo-medium {
	@apply bg-indigo-500;
}
.standard-bg-blue-medium {
	@apply bg-blue-500;
}
.standard-bg-cyan-medium {
	@apply bg-cyan-500;
}
.standard-bg-teal-medium {
	@apply bg-teal-500;
}
.standard-bg-green-medium {
	@apply bg-green-500;
}
.standard-bg-lime-medium {
	@apply bg-lime-500;
}
.standard-bg-yellow-medium {
	@apply bg-yellow-500;
}
.standard-bg-orange-medium {
	@apply bg-orange-500;
}

.standard-from-dark-medium {
	@apply from-gray-500;
}
.standard-from-gray-medium {
	@apply from-gray-500;
}
.standard-from-red-medium {
	@apply from-red-500;
}
.standard-from-pink-medium {
	@apply from-pink-500;
}
.standard-from-grape-medium {
	@apply from-purple-500;
}
.standard-from-violet-medium {
	@apply from-indigo-500;
}
.standard-from-indigo-medium {
	@apply from-indigo-500;
}
.standard-from-blue-medium {
	@apply from-blue-500;
}
.standard-from-cyan-medium {
	@apply from-cyan-500;
}
.standard-from-teal-medium {
	@apply from-teal-500;
}
.standard-from-green-medium {
	@apply from-green-500;
}
.standard-from-lime-medium {
	@apply from-lime-500;
}
.standard-from-yellow-medium {
	@apply from-yellow-500;
}
.standard-from-orange-medium {
	@apply from-orange-500;
}

.standard-to-dark-medium {
	@apply to-gray-500;
}
.standard-to-gray-medium {
	@apply to-gray-500;
}
.standard-to-red-medium {
	@apply to-red-500;
}
.standard-to-pink-medium {
	@apply to-pink-500;
}
.standard-to-grape-lmedium {
	@apply to-purple-500;
}
.standard-to-violet-medium {
	@apply to-indigo-500;
}
.standard-to-indigo-medium {
	@apply to-indigo-500;
}
.standard-to-blue-medium {
	@apply to-blue-500;
}
.standard-to-cyan-medium {
	@apply to-cyan-500;
}
.standard-to-teal-medium {
	@apply to-teal-500;
}
.standard-to-green-medium {
	@apply to-green-500;
}
.standard-to-lime-medium {
	@apply to-lime-500;
}
.standard-to-yellow-medium {
	@apply to-yellow-500;
}
.standard-to-orange-medium {
	@apply to-orange-500;
}
