@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Karla variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kufam variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
	@apply leading-loose text-5xl font-bold tracking-tight my-6;
}
h2 {
	@apply leading-loose text-3xl font-semibold tracking-tight my-4;
}
h3 {
	@apply leading-loose text-2xl font-semibold tracking-tight my-3;
}
h4 {
	@apply leading-loose text-xl my-2;
}

p {
	@apply leading-6 my-3 font-light;
}
